
body {
  background-image: url("data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wCEAAkGBw0PEBANDw0NDg0NDQ4NDQ4NDxANDg4PFREWFhYRFhUYHighGBolHRUXLTMhJSkrMC8vFx8zODMtNzQtLisBCgoKDQ0NDg0NDisZFRkrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrK//AABEIARMAtwMBIgACEQEDEQH/xAAcAAEBAAMBAQEBAAAAAAAAAAAAAQMEBQYCBwj/xABBEAACAgIABAMFBAYIBQUAAAABAgADBBEFEiExE0FRBiJhcYEUMpGhM0JikrHBFSNDUlNygqIHY3Oy8CQlVKPC/8QAFAEBAAAAAAAAAAAAAAAAAAAAAP/EABQRAQAAAAAAAAAAAAAAAAAAAAD/2gAMAwEAAhEDEQA/AP3GIiAiIgIiICIiAiIgIiICIiAiIgIiICIiAiIgSWSIFklkgIiIFiSICIiAiIgIiICWSICIiAiIgWSIgIiICIiBZJZICIlgSJYgJJYgSJYgSJYgSIiAiIgIiICIiAiIgIiIFklkgWIiBCZqjiWORzeNXynsxbSn4gnvPjihBCU/49q1keqAF3H7qkfWboGug6AQOZZx/EB5Vsa1v7uPXZkH/wCsHX1maviB2vNj31q7BFewVgbPbYDEjfxHnOV7X+12Pw5NN/WZLjddAOvhzMf1V/j5TheyWTxjNOU2WlldF9I+yuUFSU2qSVZEJ5tdjvrvQgfoETRryMkAeJjhjocxptVhvXXQblmWrNrYhNlLD/Z2Ao5+QPf6QNmIiAkliBIiICIiAiIgIiICIiBYiSBYiIHOavny1byxqDoft2t3+YWs/vxn8R5eaurla1Rt2P6LHGvv2H/8jqfgOowHg9rWXM2XaK77fEaulRU3KEChDZ1bWl/V5TsmZmqqDV4daqqKPGsRR0CA+6D8Wb178rQPN8P9nEx7G4jfTlcRy7rC6bFTNQnk3KWChvgN67D1PtVOwD16jfXoZ4c/8Qk/pVeErVU6tkNil0vLXpYtXiFjVy65PLfN336T3MBMWRj12KUsRXU+TDY+fzmWanEeI0Yyq9z+GjutYcqxUM3QcxA0o+J0IHH46crFotsS9/stNRtZgBbmAD+zRn93Xb3m2R17+U4HxU/Y6c5xZ9nur8S0PY170dT7/MerLrvrt3A1udviNKvVYjDasjBh6jXUTm+xdPJw7DTuBjJ19QR3gdmqxWUOrBlYBlZSCrA9iD5ifU4mPiNgsRUN4Dksah3xHPUsg/wj5r+qeo6b12gd9R1B6giBZJYgSJYgSJZICIiAiIgWIiAiIgYcrJWpeYgsWIVEXqzueyj/AM8iZ56riv2W1acgocrJ573qx0vy72QEgH3F91VAAHynRyVLZ+PsnlrxMuxR5eIXpXm+YViP9Rn5t/xj4fkpmYmdVY1dRr8J2XYYOhZgoYdiQ3+0wPZcB4HwY513Esdd5778UWtYLKOYdSKX0a9/L5T1s/mp+PX/AGlbTlX/AGtUDLcWdmCjy5z5fAz999keI3ZWHRkX1+HdYp5xoqG0xAcA9gwAP1gbPGuMY2FUb8hylagseVHtblA2W5UBOgO57CfSPj5uPzKVuxcqnow+69br3H0M8j/xM9hL+LnHNOWuMaRZW/MLDut9cwAVgDvS7B78o6jrv1vAuF14eNRh1kmvGpSlS33mCjXMfif5wMvErvDpus8q6bH/AHUJ/lMPAKPDxMWr/DxaE/drUfymTi9XPj3p/fx7k/FCJnxiORNduRdfLUDJOXj2vXlNjdPBsx/tFA11RlflsXf9336yPTZ8ta2s/OroALklnYV1VqOay1z2VR5n+ABJ0J84uIef7RZ1vKGsAElKkJBKL69QNnz16aADciIgImLJyK6kayx1rrQbZ3IVVHxM0E45SzBVS9uYbUml6+Yfsh9FvoDA6kTFj5CWAlG3o6YaIZT6EHqD85lgSIMQERECySyQLERA5/FabP6u+lee2gsfD2F8Wthp6wT0B6Ajfmo8pxfaDj3Dbaji3OpZ7aVtxra3Fqr4il9qR00uzv06gz1U4Ofwyq7NViOV0w3PMPNmcKp156AYf6oGTD9lOF1EWV4OMGGirFBYR6EFt6+k7U8fTbncPq2VW2rY5MdtgqWbSU1uN6PUDlII320J1DncSs92vDqoJ6G3IuLhPiEUbb8RA6teWjWPTsiysKxUjRKNvTj1GwR8wZnnI4XwJKbPtL22XZboyW3Odc6kqeUKOiqOXoB6mdeB8vrR3rl0d76DXnPP8M4tkPVXTViXGxVCmzIBpoWvpyWFu7koVPKoPXYJWZeN5y2N9kU7TxKEzXB0K67XCrTvzdywGvJST0JXfdgaGJw1Vc32MbskryeKw0EU9Sla/qL+Z0NkzfiICIiBr5OHXYa2cc3hP4iKeq8+tBiPMjrr03PvJoWxSjDYP0IPkQfIj1mWIHmb1usBuqYrn8PvFVwHRcmroeVgO4ZGDD0bt5z0GHki1FsAI3sFT3RgdMp+III+k5mEp/pDL0PcOLhb/wCpzX/ny8v5T74KxFudX+qmYGQenPRU7f7ix+sDrREQJERAskskCxIJYCaPEMFnZLarTTfWGVXK+IjI2to6bHMuwD0II13773ogcPErtuyLFyLksOJyeGtNZprV7EPvkMzEuAenXQ5u0xZGZxTHYjwMfMq37rq7Y12v2hplJ/d+U3OAoT9ovYaORl2sN/3E1Sn+2sH6zqwPOUcdz7CFXhZUnubcqsKPqit/Cdmyq2yvlLmixtc7UEOV9QrMv56m1EDnHguP9nfEVCtVgbmIYm3nJ34vOdk2b0eY9dgGaXDuPKln2HMZasxOUK7Dkpy1O+Wytj023Kdp3BVgNgbPemnn8MoyOl1SWjlZCrqHVkbXMjA9Cp0Oh81BgbkTj4vs/XSd0ZGZQu/0QvN1WvQJaGCj/Lqb5xCfvXXH/UE/7AIGxLNQ8MoP3qw//UJsP+4mYMjgeK68vI9YJ3vHttxiD5EGthA6U187Mrora21uVF18SxJ0FUebE6AA7kzS+x5dQ/qcnxl0QEzF5yvpqxNE69G2T6iXH4RuxcnItbIvT9FzAJTQSOprrHY/tEsfLeoH3weh0R7rhy3ZFhvtBP6MaCpXv9lFUH47M0vZK3xlycvRC5WZa1exo+HWFpB+vhk/WZ+OZBblxKvevu1sDqtVW+ttnovoP1j07b10cPGSmtKUGkrUIu+p0PMnzPxgZpJZICIiBZJZICWSWAmHNvFVdlp7V1vYfkqk/wApmnH9r35cHJ/ar5P3mC/zgdDh6ctVa+lafjobmxPlBoAegAn1AREQEREBERAREQEx3oWVlDFGIIDDup9ZkiBpcKVArBUC2ByLxsuxsAHUserbGtE+RE3ZycmwU5tJ8s2t6GH/ADKlNiN+74gPyWdaAklkgIiIFklkgJZJYCcT21rZuH5fICzLSbAB3PIQ+h+7O3PlgCCD2I0R8IHzRYGRXHUMqsPkRuZJwODm0YlaptrcKyygpsDxRU7V8h35lQCD668p2MTKrtUPWwYeY/WU+asPIj0MDPE5lN1iZb0uxau+nx6N/qlCEsT5e9WfqZ04CJJy+HZYtyswL1XHNGOzb/X8PxCv0Fo/H4QOrERAk1aM6t7baF2Xo5DZ6DmGwP8Az0McR4jj4yeJfdXUnkXYLs+g3OJ7J5tF9+ddTalqu9BLL5e6w5T+H5wPTREQPP8AtEf/AFfCgPPMuP0GJbPQTk59SvmYe+9KZdy/5uVE/g7TrQEkskBERAskskBLJLAREQOZhp4eTkJ+reK8lf8APrw3/wC1Pxnnvbeu7B/91wtJapUZaEE1ZFX7ajuRv73cdflPT57it6bT0HP4DH4WaA/3Bfxn3xTFW6mypxtXRlI+BEDyPB/bLGzrcPoaMoXWVvS+yCjUPvkfWmHMqdO/wnuJ+bf8PMc14t1bAF6eMVLsjZDDwlbXp2M/SYEYgAk9gNn5Ty/snk1V1PZZYqNl22ZZLkL+ldmAPyUqPpOr7S3MuNYqHVl3JjVn0e5xWD9Obf0mvV7H8KXWuH4pI11apWP5wNi72hwFPL9roZz2rqcXWt8kTbH6CYeJ8UvWk3VVeFWOUvbkgq1dZYBrBV3PKDvTFe06eLh00jlqqqqX0qRax+AEyXVK6sjAMrqVYHsVI0RA85k+x2NaGa/eVc401uR77/JT/Zj4IAJ5v2bwm4TxHwixOHnKakZ+9dyna1sfx0fPc95wZ90hObmNDNjs29ktWeXZ+J0D9ZyuN0Jdl0YrLtbkve0DppFqZOb581iQPRxOJwniFtfLi5vu3qfDqvOhVmAdmU+Tkd0PXe9bE7cDn31f+pps/wCXdWPyb+X5ToTWz6HdR4bBbUYPUzDa8w8mH90gkH5ycMzRfUtoHLzcysuw3K6sVYAjuAQevnA2pJZICIiBZDLECREsBERA5ntLUWxMjX3lqa1D6Onvr+aibuJd4lddn+JWj/vKD/OYuKuq0XFvu+E4Ou52pGh8TuXhlTV0U1t96umpG+YQA/wgeZ4HQFtzKwOh4xUR8xj1uT+RnsJ5jgx3l5C+ZzDkfJRiVp/FxPTwOfmqLL6Kj1FfNlN81HIgP1cn/ROhOdw1ue3Ju8hYuMh/ZqXr/vdx9J0YCY77lrVrGOlRSzE+QA3PqxtAnROgTodzqea4Zmm1EyMnlYDDrz7ACTVUtnMa0RB0YgI22OzsdO/QOp7OUMmOhdStlxfJtU91e1zYVPy5tfSa3DR42dk5HdaK68Ss/tH+ss/jX+E2eK5710grW3j3aSqklecuf1ehI6eZGwOpn3wPh32akVluexma26ztz2udsfl5D4AQNvJx67VauxFsrcaZHAZWHxBnPoxfsr1oltzU2uaxVa/iis8jMOVm97Xu9iSPTU6s0M87uxqx38R7j8FSsr/FxAy8VyxRRbee1VTv9QCZr+zmKacTHqP3loTn/wA5G2/MmYfamsvj+EP7a6ik/J7VU/kTOxASSxAkRECySyQERLAREQPK8G4m+Tu+2sspcfZ61c6U87BF5OxbSFiT2/IdzieW1ahUQ2X27WpBodh1Yk9Ao8z8prXez9HMXqe7GdrPFJx3Cr4miC/IwK7IJ2dddzV4jwfJAd6r7Mi2zHuxz9psWvkVwNNXyJoEFfTrvv0gbPs/hJWHyPES2zJKlnr/AEelHKqJ6ga7+c6t1qorO7BURSzMx0FUDZJM4C5Li5Xs4fliuqlExwq02Ct9tzkBXOugQA/ObF+NdmFBdW1GIjCxqXZTbkMDtVcKSFQHR1sk9N6GwQ2+BV8uPVsENYpuYHoeaxi7b+rGb8RATl3ez+GxY+EU8QFX8KyykMpJJBCEA9SfxM6kQNXGwKazzqm3I5TY7NZYR6czEnU2oiBgzr/Cqst1zeHW7gb1vQ3rflOXhZRUC11a266441RUgFwpPNpegRAVc9ySFGyToTsuoYFSAVIIIPUEHuDOOfZ1F5BTkZOOtTl6kRq3RCQQdCxWOiGbpvXWBk4zzPbiUJ1JyBkWde1NQJJ/eKD6zrTTweHJSWfmsstcAWW2tz2MB2Hoo6noAB1m5ASREBERAskskBERAsSSwEREBERAREkCxJECxJLAREQERECREQERECySyQERECyREBERAREQEREBERAREQEREBERAREQERECySxAkRLAkSxAkSxAkSxASSxAkRLAkRLAkSxAkRLAkCWSAiIgWIiAiIgIiICIiBq5nEKqSosLDmVmBCO4CqVDMxA90DnXqfWF4jjk6F9JJJUAWKSSDy67+vSTM4fVcVawMeRXTSuyBlYqWVgD7wPIvQ+k17+BYr65kfoj1jVli6VufetHof6xuvy9BoMv9L43Mq+NWfE5AhVgysXHMoBHqOv1E+xxPGIB+0U6IYg+IuiACSe/oD+EwpwTGX7tZXTlxp3HUsxI79vfYa7aOu0xL7OYYCgVtpFZV/rH0AVZT59fdcj49N9hA31zKTsi2vQVnJ510FUAlj8BzDr8RMf9J43/AMin7vP+kX7u+XfftvpNangVC+IDzFLUSoqGdR4S1msKTvZOj1PnpfQTJ/Q9HMGIsZgVbbW2NtgQQx2e/ugb9BrtA2sbKqtHNVYlig6LVsHAOgdbHwI/GZpr4eHXSCtYIB5d7Jb7qBB3+CibEBERAREQEREBERAREQEREBERAREQEREBERAREQEREBERAREQEREBERA//9k=");
  background-repeat: repeat;
  font-family: 'Comic Sans MS', Arial, sans-serif;
  color: #222;
  text-align: center;
  padding: 20px;
}

h1 {
  color: #ff3399;
  font-size: 36px;
  text-shadow: 2px 2px  #fff;
  margin-bottom: 20px;
}

h2 {
  color: #3399ff;
  font-size: 28px;
  text-decoration: underline;
  margin-top: 30px;
  margin-bottom: 10px;
}

h3 {
  color: #ff6600;
  font-size: 20px;
  margin-top: 20px;
}

p {
  font-size: 16px;
  line-height: 1.5;
  max-width: 700px;
  margin: 10px auto 20px auto;
}

.png-img {
  width: 200px;
  margin: 10px;
  padding: 5px;
  border: 3px dotted #333;
  box-shadow: 5px 5px 0 rgba(0,0,0,0.4);
  background-color: #fff;
}

ul {
  text-align: left;
  display: inline-block;
  padding: 10px 20px;
  margin: 10px auto 20px auto;
  border: 2px dashed #3399ff;
  background-color: #f9f9f9;
  box-shadow: 3px 3px 0 rgba(0,0,0,0.3);
}

table {
  margin: 20px auto;
  border-collapse: collapse;
  width: 50%;
  box-shadow: 4px 4px 0 rgba(0,0,0,0.3);
}

th, td {
  border: 2px solid #333;
  padding: 10px;
  background-color: #fff;
  text-align: center;
}

th {
  background-color: #ffcc00;
  font-size: 18px;
}

a {
  color: #ff6600;
  font-weight: bold;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: #ff3399;
}

body > * {
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}
